---
import Layout from '../../layouts/Layout.astro';
import CardPage from '../../components/cards/CardPage.svelte';
---

<Layout title="카드 목록">
  <div class="animate-[slideUp_0.4s_ease_both]">
    <CardPage client:load />
  </div>
</Layout>
